<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link
        rel="icon"
        type="imagem/png"
        href="https://cdn.pixabay.com/photo/2013/07/12/15/20/author-149694_960_720.png"
    />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/71f92ea1b3.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h1>Detalhes</h1>
        <section class="cards">
                <div class="card2">
                    <ul>
                        <li><img src="<%= item.img %>" alt=""></li>
                        <li><%=  item.nome %></li>
                        <li>Autor: <%=  item.autor %></li>
                        <li>Ano: <%=  item.ano %></li>
                        <li>Edição: <%=  item.edicao %></li>
                        <li>Quantidade de páginas: <%=  item.qtd_pg %></li>
                        
                    </ul>
                </div>
        </section>
        <div class="button">
        <a href="/delete/<%= item.id %>"><button class="del">Deletar</button></a>
        </div>
    </main>
    <footer>

    </footer>
    
</body>
</html>